@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary: #ffa3a3;
$secondary: $green;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

$brand: (
  "brand": #900
);
$theme-colors: map-merge($theme-colors, $brand);

@import "bootstrap/scss/bootstrap";